!!! 5
%html(lang='en-US')
  %body
    %p Welcome to 2022.gallery, #{@user.name}.
    %p A virtual gallery space for emerging digital artists. The current exhibition involves works from two Australian artists, Charlie Freedman and Harry Hughes.
    %div
      %p 
        If you wish to have a tour of the space, please make an appointment at:
        %a{href: 'http://appointments.2022.gallery'} appointments.2022.gallery
    %hr
    %a{href: 'http://2022.gallery'}2022.gallery


