!!! 5
%html(lang='en-US')
  %body
    %p You have an appointment at 2022.gallery in 1 hour, #{@user.name}.
    %p Please make your way to the gallery. Your hosts will greet you at the entrance
    %hr
    %a{href: 'http://2022.gallery'}2022.gallery
