=react_component('AppointmentContainer', appointments: @appointments, user_id: current_user.id, index: @index)
=button_to 'wrong details?', user_path(current_user), method: :delete, class: 'details-btn'
